@import "../Variables";

.button {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;

  border-radius: 50px;
  padding: .3em 1em;
  margin-bottom: 1em;

  transition: 0.35s;

  &:last-of-type {
    margin-bottom: 0;
  }

  &.blue {
    color: var(--clr-blue);
    border: 3px solid var(--clr-blue);

    &:hover, &:focus {
      background-color: var(--clr-blue);
      color: var(--clr-light);
    }
  }

  &.pink {
    color: var(--clr-pink);
    border: 3px solid var(--clr-pink);

    &:hover, &:focus {
      background-color: var(--clr-pink);
      color: var(--clr-light);
    }
  }
}
