@import "../Variables";

.home {
  background-color: var(--bkg-darker);
  display: flex;
  flex-direction: column;
  height: 60vh;

  .home__bkg {
    z-index: 1;
    opacity: .1;
    position: absolute;
    margin-top: 2em;

    & p, span {
      text-align: right;
      font-size: 5rem;
      font-weight: 600;
      //float: right;

      & span {
        opacity: 100%;
        color: var(--clr-pink);
      }
    }
  }

  .home__title {
    z-index: 10;

    .home__heading {
      padding: 1.25em .5em .5em;
      font-size: 2.5rem;

      .home__heading-span {
        color: var(--clr-pink);
      }
    }

    .home__aboutme {
      font-size: 1.25rem;
      padding: 0 1.125em;
      line-height: 1.5;
    }
  }


  .home__buttons {
    display: flex;
    flex-wrap: wrap;
    padding: 3.5em 1.5em 4em;
  }
}
