@import "../Variables";

.header {
  background-color: var(--bkg-dark);
  -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: space-between;

  padding: .75em 1.5em;

  .header__logo {
    cursor: pointer;
    width: 200px;
  }
}
