@import "../Variables";

.portfolio {
  background-color: var(--bkg-light);
  padding: 1em .5em;

  .portfolio__title {
    color: var(--clr-dark);
    text-align: center;
    margin-bottom: 1em;

    .portfolio__title-h4 {
      color: var(--clr-pink);
      font-weight: 600;
      margin-bottom: .5em;
    }

    .portfolio__title-h1 {
      font-weight: 700;
      text-transform: uppercase;
      border-bottom: .25rem solid var(--clr-pink);
      margin: 0 .79em;
    }
  }

  .portfolio__button {
    margin: 2em 0;
    text-align: center;
  }
}
