@import "../Variables";

.section__title {
  color: var(--clr-dark);
  text-align: center;
  margin-bottom: 1em;

  .section__title-h4 {
    color: var(--clr-pink);
    font-weight: 600;
    margin-bottom: .5em;
  }

  .section__title-h1 {
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: .25rem solid var(--clr-pink);
    margin: 0 .79em;
  }
}