@import "../../Variables";

.carousel__indicator {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .3);
  width: 12px;
  height: 12px;
  margin: 0 5px;
  transition: .3s ease-in-out;

  &.current-slide {
    background-color: rgba(0, 0, 0, .75);
  }
}
