@import "../../Variables";

.carousel__button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;

  &.carousel__button--left {
    left: -25px;
  }

  &.carousel__button--right {
    right: -25px;
  }

  & img {
    width: 2em;
    height: auto;
  }

  @media screen and (min-width: 930px) {
    &.carousel__button--left {
      left: -35px;
    }

    &.carousel__button--right {
      right: -35px;
    }
    & img {
      width: 3em;
      height: auto;
    }
  }
  @media screen and (min-width: 1300px) {
    &.carousel__button--left {
      left: -45px;
    }

    &.carousel__button--right {
      right: -45px;
    }
    & img {
      width: 4em;
      height: auto;
    }
  }
}
