@import "../../Variables";

.carousel {
  position: relative;
  width: 90%;
  height: 400px;
  margin: 0 auto 1em;


  .carousel__track-container {
    position: relative;
    height: 100%;
    overflow: hidden;

    .carousel__track {
      list-style: none;
      position: relative;
      height: 100%;
      transition: transform 250ms ease-in;
    }
  }

  .carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  @media screen and (min-width: 930px) {
    height: 600px;
  }
  @media screen and (min-width: 1300px) {
    height: 700px;
  }
  @media screen and (min-width: 1700px) {
    height: 800px;
  }
}
